/Ejercicio 5/nbproject/private/
/Ejercicio 5/build/
/Ejercicio 6/nbproject/private/
/Ejercicio 6/build/
/Ejercicio 7/nbproject/private/
/Ejercicio 7/build/
/Ejercicio 8/nbproject/private/
/Ejercicio 8/build/
/Ejercicio 9/nbproject/private/
/Ejercicio 9/build/
/Ejercicio 10/nbproject/private/
/Ejercicio 10/build/
/Ejercicio 11/nbproject/private/
/Ejercicio 11/build/
/Ejercicio 12/nbproject/private/
/Ejercicio 12/build/